<div>
  <h2 id="page-heading" data-cy="TournamentHeading">
    <span jhiTranslate="jumpApp.tournament.home.title">Tournaments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="jumpApp.tournament.home.refreshListLabel">Обновить список</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tournament"
        [routerLink]="['/tournament/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jumpApp.tournament.home.createLabel">Создать новый Tournament</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (tournaments?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="jumpApp.tournament.home.notFound">Tournaments не найдено</span>
    </div>
  }

  @if (tournaments && tournaments.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="tournamentName">
              <div class="d-flex">
                <span jhiTranslate="jumpApp.tournament.tournamentName">Tournament Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="location.id">
              <div class="d-flex">
                <span jhiTranslate="jumpApp.tournament.location">Location</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="team.id">
              <div class="d-flex">
                <span jhiTranslate="jumpApp.tournament.team">Team</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (tournament of tournaments; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/tournament', tournament.id, 'view']">{{ tournament.id }}</a>
              </td>
              <td>{{ tournament.tournamentName }}</td>
              <td>
                @if (tournament.location) {
                  <div>
                    <a [routerLink]="['/location', tournament.location.id, 'view']">{{ tournament.location.id }}</a>
                  </div>
                }
              </td>
              <td>
                @for (team of tournament.teams; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/team', team.id, 'view']">{{ team.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/tournament', tournament.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Просмотр</span>
                  </a>

                  <a [routerLink]="['/tournament', tournament.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Изменить</span>
                  </a>

                  <button type="submit" (click)="delete(tournament)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Удалить</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
